body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

/* Header Styles */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation Styles */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
img:hover{
    border-radius: 50%;
opacity: 7;
}